.banner-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    height: 220px;
    margin-top: 50px;
    margin-bottom: 30px;
   
    img{
        opacity: 0.7;
        height: 220px;
        width: 1240px;
        object-fit: cover;
        border-radius: 25px;
    }   
}

.slogan{
    position: absolute;
    z-index: 2;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: #FFFFFF;
}

.banner-img-layout{
    border-radius: 25px;
    max-width: 1240px;
    height: 220px;
    background: #000000;
    opacity: 1;
  }