.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 3% 0% 0% 0%;
    margin: auto;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 26%;
    
    p{
        white-space: nowrap;
        font-weight: 500;
        font-size: 24px;
        text-align: right;
        color: #FF6060;
    }

    .active-page{
        color: #FF6060;
        text-decoration-line: underline; 
    }
}

/*----------------------------------------*/

@media screen and (max-width: 992px){

    .nav-menu{
        
        width: 30%;
        
        p{
            margin-left: 5%;
        }

    }

}

@media screen and (max-width: 768px){

    .header-container{
        padding: 3% 5% 0% 5%
    }

    .logo{
        img{
            width: 50%;  
        }
      
    }
    
    .nav-menu{
        width: 37%;

        p{
            font-size: 12px;
        }

    }
}