.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    height: 68px;
    padding: 3% 3% 0% 3%;
    margin: auto;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 309px;
    
    p{
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        text-align: right;
        color: #FF6060;

        
    }

    .active-page{
        color: #FF6060;
        text-decoration-line: underline; 
    }
}